body {
    background-color: blue;
}

.text-2 {
    color: red;
}

body {
    margin: 25%;
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    grid-template-rows: 8rem 4rem 8rem;
    gap: 3rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 5rem;
}